// Specific CSS for your home-page
h3 {
  margin: 32px 0 34px 0;
  text-align: center;
  color:#1C2833;
}

* {
  position: relative;
  box-sizing: border-box;
}

.iframely-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: white;
}

#app {
  // opacity: 0 !important;
  // visibility: hidden;
  z-index: 100;

  // &:hover {
  //   opacity: 0.5;
  // }
}

#app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-bottom: 4vmin;
  height: 105vh;
  width: 100%;
  background: white;
  color: #3a3535;
}

body {
  display: grid;
  // padding: 3vmin;
  background: #8a99a8;
}

.title {
  padding-left: 1em;
  grid-column: 1 / -1;
  grid-row: 1;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 8vw;
  width: 100%;
  z-index: 2;

  // start

  > .title-inner {
    display: inline-block;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
  // outline: 1px solid red;
}

// [class*='inner'] {
//   outline: 1px solid blue;
// }

.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe {
  // start
  > .cafe-inner {
    display: inline-block;
  }
}

.mozart {
  display: inline-block;
}

.image {
  grid-row: 1;
  grid-column: 2;
  margin-left: -2rem;
  opacity: 0.7;
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;

  @keyframes image-in {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

// Replay animation!
body:active * {
  animation: none !important;
}

#banner_image, .calendar {
  border-style: solid;
  border-color: $light-gray;
  border-width: 1px;
  border-radius: 16px;
  margin: 32px 0 32px 0;
}

#banner_image {
  width: 100%;
}

#apartment_image {
  width: 100%;
  border-radius: 16px;
}

.container {
  hr {
    margin: 12px auto;
    border: none;
    border-top: 1px solid #1C2833;
    color: #1C2833;
    width: 100%;
  }
}


.row {
  p {
    font-size: 26px;
    color: $gray;
  }
}

.top_rated_preview {
  margin-top: 18px;
  vertical-align: middle;
}

.review_text {
  // display: flex;
  align-items: center;
}



@media (min-width: 950px) {
  .daterangepicker {
    width: auto;
  }
}


@media screen and (min-width: 400px) {
  .daterangepicker {
    width: 278px !important;
  }
  .carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
  }

  .carousel-indicators {
    filter: invert(100%);
  }

  .carousel-control-prev {
    left: -5%;
  }

  .carousel-control-next {
    left: 90%;
  }
}


.container-2 {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

.centered-2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-12 img {
  box-shadow: 10px 5px 5px #1c040a;
  opacity: 0.9;
}
