<div class="container">
    <div class="et_pb_section et_pb_section_0 ">
      <h1>Prêt pour un nuveau challenge ?</h1>
      <h1>Location de LEGO</h1></div>
      <div class="row">
        <div class="col-12">
          <%= image_tag "banner.jpg", id:"banner_image" %>
        </div>
      </div>
        <%= link_to "Découvrez nos produits !", products_path, class:"btn btn-primary centered-2" %>
      </div>
    <hr>
    <h3>Découvrez nos emplacements les mieux notés!</h3>

   <div id="carouselExampleIndicators" class="carousel slide shadow-sm border" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>

</div>
