/* Styles pour les écrans de petite taille */
.avatar {
  width: 40px;
}

.avatar-large {
  width: 100%;
}

.avatar-bordered,
.avatar-square {
  width: 40px;
}

.logo {
  width: 50px;
}

.sign-in {
  width: 50px;
  height: 50px;
}

/* Styles pour les écrans de taille moyenne et grande */
@media only screen and (min-width: 400px) {

  .avatar-large {
    width: 56px;
  }

  .avatar-bordered,
  .avatar-square {
    width: 40px;
  }

  .logo {
    padding: auto;
    width: 25%;
  }

  .sign-in {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (min-width: 950px) {
  .logo {
    width: auto;
  }

  .sign-in {
    width: 80px;
    height: 80px;
  }
}

/* Styles pour les écrans très larges */
@media only screen and (min-width: 1200px) {
  .avatar {
    width: 80px;
  }

  // .avatar-large {
  //   width: 100px;
  // }

  .avatar-bordered,
  .avatar-square {
    width: 50px;
  }

  .sign-in {
    width: 100px;
    height: 100px;
  }
}
