@media only screen and (min-width: 576px) {
.banner {
  background-size: cover;
  justify-content: center;
  background-position: center;
  padding: 150px 0;
  width: 200px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 26px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
}
