@media only screen and (min-width: 576px) {
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-category {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#638ef5;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-large {
  margin-left: 50px;
  // height: 100vh;
  max-height: 200px;
  max-width: 500px;
}
}
