
// working
.index-image {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

// working
.search-image {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

working
.root-image {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.my-product-image {
  width: 400px;
  height: 300px;
  object-fit: cover;

}

// not working
.show-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
}


// not working
.review-image {
  width: 300px;
  height: 300px;
  border-radius: 16px;
}
