@media only screen and (min-width: 400px) {
.map-card {
  padding: 1em;
  a {
    color: rgb(0, 0, 0);
    font-size: 50px;
  }
}

.mapboxgl-popup {
  width: 150px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-size: 10px;
}


  #map {
    height: 100vh;
    position: sticky;
    top: 0;
    flex-grow: 1;
  }
}
@media only screen and (max-width: 600px) {
  #map {
    height: 50vh;
  }
}
