@media only screen and (min-width: 564px) {
  .products-map-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .product-cards {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .products-map-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .product-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}
